<a href="https://colab.research.google.com/github/SameerHassanGoraya/Python/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# I implemented this assignment in Python.
# Name:Sameer Hassan.   ID: F2023065259

import sqlite3
from textwrap import dedent


conn = sqlite3.connect(":memory:")
conn.row_factory = sqlite3.Row
cur = conn.cursor()


cur.execute("""
CREATE TABLE students (
    id         INTEGER PRIMARY KEY,
    name       TEXT,
    marks      INTEGER,
    department TEXT
);
""")


sample = [
    (1, "Imran Khan",     92, "CS"),
    (2, "Muhammad Ali", 78, "ME"),
    (3, "Aurangzeb",       45, "EC"),
    (4, "Sameer",   88, "SE"),
    (5, "Ali",     33, "EE"),
    (6, "Fatima Zahra",   81, "CS"),
]
cur.executemany("INSERT INTO students VALUES (?,?,?,?)", sample)


def show(title, rows):
    print(dedent(f"""
    {title}
    {'-'*len(title)}
    ID  Name                Marks  Dept
    --  ------------------  -----  ----
    """), end="")
    for r in rows:
        print(f"{r['id']:<3} {r['name']:<18}  {r['marks']:^5}  {r['department']}")


cur.execute("SELECT * FROM students ORDER BY id")
show("All Students", cur.fetchall())

cur.execute("SELECT * FROM students WHERE marks > 80 ORDER BY marks DESC")
show("High Achievers (> 80)", cur.fetchall())


cur.execute("SELECT COUNT(*) AS cnt FROM students WHERE marks < 50")
print(f"\nStudents scoring below 50: {cur.fetchone()['cnt']}\n")

cur.execute("DELETE FROM students WHERE id = 5")
cur.execute("SELECT * FROM students ORDER BY id")
show("After Deleting ID 5", cur.fetchall())

cur.close()
conn.close()

All Students
------------
ID  Name                Marks  Dept
--  ------------------  -----  ----
1   Imran Khan           92    CS
2   Muhammad Ali         78    ME
3   Aurangzeb            45    EC
4   Sameer               88    SE
5   Ali                  33    EE
6   Fatima Zahra         81    CS

High Achievers (> 80)
---------------------
ID  Name                Marks  Dept
--  ------------------  -----  ----
1   Imran Khan           92    CS
4   Sameer               88    SE
6   Fatima Zahra         81    CS

Students scoring below 50: 2


After Deleting ID 5
-------------------
ID  Name                Marks  Dept
--  ------------------  -----  ----
1   Imran Khan           92    CS
2   Muhammad Ali         78    ME
3   Aurangzeb            45    EC
4   Sameer               88    SE
6   Fatima Zahra         81    CS